# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
build/
*.egg

# Virtual Environment
.venv/
venv/
env/

debug_tiktok.txt

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Sensitive / Config
api-1.json


# Cache & Temp
cache/
modules/cache/
*.png
*.jpg
*.jpeg
!background/*.png
!background/*.jpg
api-*.json
!background/*.jpeg
!info.png

# Logs
*.log

# OS
.DS_Store
Thumbs.db
